<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VelibApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>033C2DD12E28D6F6003E809C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>033C2DDF2E28D6F8003E809C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>033C2DE92E28D6F8003E809C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
